body {
	font-family: Arial;
	color: #292929;
	padding: 0 1em;
}

.chart div {
  font: 10px sans-serif;
  background-color: white;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  border-radius: 3px 3px;
  width: 3px;
  height: 13px;
}
